/* Standardni footer */
.app-footer {
  height: 60px;
  background-color: #86b2e1;
  color: white;
  text-align: center;
  line-height: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);

  /* CSS-only “sticky” na dnu */
  margin-top: auto; /* gura footer na dno ako stranica kratka */
}

/* Container da footer zna gdje se gurati */
body, #root {
  min-height: 100vh;      /* cijela visina ekrana */
  display: flex;
  flex-direction: column;
}

